/* Estos estilos son de autoría propia, con el objetivo de dar un toque 
adicional a la plantilla de bootstrap utilizada en el trabajo */

body {
    font-family: "Candara";
    background-color: lightgray;
}

.main_content {
    height: 100%;
    margin: 40px 0px;
}

.panel_foto {
    margin: 10px auto;
    width: 120px;
    
}

.panel_foto img {
    padding: 10px;
    border: 1px dashed black;
    /*box-shadow: 2px 2px gray;*/
}

.panel-sombra {
    box-shadow: 2px 2px lightgray;
}

.borde-derecho {
    border-style: dashed;
    border-color: black;
    border-width: 0px 1px 0px 0px;
}

.autor {
    font-size: 8pt;
}