body {
    background-color: #F5F5F5;
    font-family: 'Candara';
}


/* Panel principal de la vista */

#main {
    width: 80%;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-color: #0099CC;
    border-style: solid;
    border-width: 30px 0px 3px 0px;
}


/* Panel de la izquierda (foto, nombre, etc) */

.panel-left {
    width: 30%;
    margin: 10px;
    background-color: #FAFAFA;
    float: left;
}


/* Panel de la derecha (tabs de información de la persona) */

.panel-right {
    width: 70%;
    margin: 10px;
    background-color: #FAFAFA;
    float: left;
}


/* Panel que encierra la foto */

.panel-photo {
    width: 40%;
    margin: 10px auto;
    border-radius: 200px;
    border: 1px dashed black;
    background-color: white;
}


/* Estilo de la foto */

.panel-photo img {
    width: 94%;
    margin: 3%;
    border-radius: 200px;
}


/* Nombre de la persona */

div[name="panel-name"] {
    margin: 10px;
}


/* Footer, con la información del máster y la UNIR */

.panel-footer {
    margin: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: #F5F5F5;
}


/* Texto alineado a la izquiera */

.text-left {
    text-align: left;
}


/* Texto alineado a la derecha */

.text-right {
    text-align: right;
}


/* Texto centrado */

.text-center {
    text-align: center;
}


/* Texto justificado */

.text-justify {
    text-align: justify;
}


/* Contenedor de pestañas (tabs) */

.panel-tabs {
    margin: 10px;
    background-color: white;
}


/* Contenido de cada tab */

.tab-content {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px 30px 20px;
}


/* Para el <ul> de los tabs */

.list-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}


/* Para cada <li> de los tabs */

.list-tabs li {
    float: left;
}


/* Para cada enlace <a> dentro del <li> de los tabs */

.list-tabs li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}


/* Al pasar el mouse sobre el tab */

.list-tabs li a:hover {
    background-color: #FAFAFA;
}


/* Para el tab activo (sobre el cual se ha dado clic) */

.tab-active {
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    border-color: #0099CC;
}

.tab-active a {
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #FAFAFA;
}


/* Para los tabs inactivos*/

.tab-inactive {
    border-width: 0px;
}

.tab-inactive a {
    border-width: 0px;
}


/* Etiquetas <span> */

.tag {
    margin: 10px 5px 10px 0px;
    padding: 0px 4px;
    border-radius: 5px;
    color: white;
    font-size: 10pt;
    text-decoration: none;
}


/* Etiquetas de color verde */

.tag-success {
    background-color: #009900;
}


/* Etiquetas de color azul */

.tag-primary {
    background-color: #0099CC;
}


/* Etiquetas de color amarillo */

.tag-warning {
    background-color: orange;
}


/* Etiquetas de color rojo */

.tag-danger {
    background-color: red;
}


/* Línea de separador <hr/> */

.separator {
    margin: 30px 10px 10px 10px;
    border: 1px dashed black;
}


/* Panel contenedor de tablas */

.table-responsive {
    overflow-x: auto;
}


/* Tablas de la página */

table {
    margin: 3%;
    width: 94%;
    border-collapse: collapse;
}


/* Encabezado de tabla */

table th {
    margin: 20px;
    padding: 10px;
    background-color: #F2F2F2;
}


/* Columnas de las tablas */

table td {
    margin: 10px 20px;
    padding: 10px;
}


/* Al pasar el mouse sobre una fila de una tabla */

table tr:hover {
    background-color: #FAFAFA;
}


/* Color de fila de tabla intercalado (blanco, gris, blanco, etc) */

tr:nth-child(even) {
    background-color: #FAFAFA;
}


/* Botones de la página */

.btn {
    background-color: lightgray;
    border-radius: 5px;
    margin: 10px;
    padding: 6px 10px;
    color: black;
    text-decoration: none;
}


/* El comentario o pensamiento de la persona */

.say {
    background-color: lightgray;
    margin: 10px;
    font-size: 11pt;
    border-radius: 5px;
}

.say p {
    padding: 10px;
}


/* Para la columna de fecha en la tabla de experiencia laboral */

.date {
    min-width: 100px;
}


/* Para los iconos (fonts) que acompañan los enlaces, tags, botones */

.icon {
    margin-right: 5px;
}


/* Panel del mapa */

.map {
    overflow-x: auto;
    width: 100%;
}